---
title: 요일별 사망사고
date: 2017-11-10 15:28:00
description: 2016년 요일별 사망사고
author: MaybeS
ref: billboard.js
ref_url: https://naver.github.io/billboard.js/
ref_api_url: https://naver.github.io/billboard.js/demo/#
tag: [Chart.LineChart, Axis.CategoryAxis, Data.ColumnOrientedData]
target: accident_by_days
data: 2016_accident_by_days
---

<div id="{{ page.target }}-desc" class="description">
    {{ site.data[page.data].description }}
</div>

<div id="{{ page.target }}-data" class="data-list hidden">
{% for row in site.data[page.data].data %}
    <div class="data-element"
    {% for value in row %}
        data-{{ value[0] }}="{{ value[1] }}"
    {% endfor %}
    ></div>
{% endfor %}
</div>

<div id="{{ page.target }}" calss="chart"></div>

<script>
// parse data
var data = {};
$(".data-element").each(function (i) {
    let element = {};
    for (let cate in $(this).data()) {
        element[cate] = $(this).data(cate);
    }

    for (let i in element) {
        if (i == "value") continue;
        if (data[i] == undefined) data[i] = {};
        if (data[i][element[i]] == undefined) data[i][element[i]] = [];

        data[i][element[i]].push(element);
    }
});

// set aixs and legend category
var axis_legend = "cate2";
var axis_x = "cate1";

// generate chart using billboard.js
var chart = bb.generate({
    "data": {
        "columns": []
    }, "axis": {
        "x": {
            "type": "category",
            "categories": Object.keys(data[axis_x]),
        }
    },
    "bindto": "#{{ page.target }}"
});

for (let prop in data[axis_legend]) {
    chart.load({
        columns: [
            [prop].concat($.map(data[axis_legend][prop], function(val, i) {
                return val["value"];
            }))
        ]
    });
}
</script>